
<h1>Weather Forecast</h1>

<%= form_with url: weather_show_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :zip, "Enter ZIP Code:" %>
    <%= form.text_field :zip_code, required: true %>
  </div>
  <div>
    <%= form.label :country_code, "Country Code (e.g., in, us):" %>
    <%= form.text_field :country_code %>
  </div>
  <%= form.submit "Get Forecast" %>
<% end %>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>
